/*TEXT STYLE*/

.text-primary{
  color: #a3a3a5;
}

.text.secondary{
  color: #02324e;
}

/*BOTTON*/

.btn{
  cursor: pointer;
  display: flex;
  padding: 10px 30px;
  color: white;
  background: rgb(77, 76, 76);
  border: none;
  border-radius: 5px;
}

.btn_treino{
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: rgb(77, 76, 76);
  border: none;
  border-radius: 5px;
}

.btn:hover{
  opacity: 0.9;
}

.btn-primary, .bg-primary{
  background: #48475e;
  color: white;
}

.btn-secondary, .bg-secondary{
  background: #0284d0;
  color: white;
}

.btn-dark, .bg-dark{
  background: #48475e;
  color: white;
}

.btn-light, .bg-light{
  background: #f4f4f4;
  color: #333;
}

.btn-outline{
  background: transparent;
  border: 1px solid white;
}

/*FLEX ITEMS*/
.flex-columns.flex-reverse .row{
  flex-direction: row-reverse;
}

.flex-items{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;

}

.flex-items > div{
  padding: 20px;
}

/*FLEX COLUMNS*/

.flex-columns .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2{
  height: 100%;
}

.flex-columns img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2{
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4{
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/*SECTION HEADER*/

.section-header{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2{
  font-size: 40px;
  margin: 20px 0;
}

.section-padding{
  padding: 5px 20px 5px 20px;
  margin-bottom: 80px;
}

/*FLEX-GRID*/

.flex-grid .row{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
}

.flex-grid .column{
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.flex-grid .column img{
      height: auto;
    }

    
      

